.movie-card {
  display: flex; 
  padding: 15px;
  width: 100%;
  gap: 20px; 
}

.movie-img {
  width: 40%;
  height: 40%;
  border-radius: 8px; 
  object-fit: cover;
  flex-shrink: 0;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  gap: 10px;
}

.fav-btn{
    width:5vw;
    height:4vh;
    border:1px solid  #7a007a;
    color:white;
    background-color: #7a007a;
    border-radius:7px;
    font-size:17px;
}

