.movies-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff; 
  border: 2px solid #e5bafc; 
  border-radius: 20px;       
  padding: 25px;
  margin-top:1.5vw;
  margin-left:2vw;
  max-width: 45%;        
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); /* Altdan qəşəng yüngül kölgə */
}
